@import url('https://fonts.googleapis.com/css?family=Slackey&display=swap');

:root {
  --accent-teal: rgb(6, 159, 186);
  --btn-hover: gold;
}

* {
  text-align: center;
  font-family: 'Verdana';
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  color: white;
  background-color: var(--accent-teal);
}

button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 10px;
}

button:hover {
  background-color: var(--btn-hover);
}

.App-link {
  color: #61dafb;
}

h1 {
  margin: 0;
}

/* Access Page (Login & Registration Forms) */

.access-header {
  margin-top: 15px;
}

.access-nav {
  display: flex;
  justify-content: center;
}

#access-header-or {
  width: 100px;
}

.access-h1 {
  text-decoration: none;
  width: 200px;
  padding: 10px;
  color: var(--accent-teal);

}

.access-h1:hover {
  color: var(--btn-hover);
}

.active {
  font-weight: bold;
  color: white;
  background-color: var(--accent-teal);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;

}

form {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 650px;
  margin: auto;
  padding-top: 30px;
  background-color: var(--accent-teal);
  border-radius: 20px;
}

.input-div {
  display: flex;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.form-label {
  width: 225px;
  height: 50px;
  margin: 15px;
  padding: 5px;
  text-align: right;
}

input[type=text], input[type=password] {
  width: 300px;
  height: 25px;
  margin: 15px 0;
  padding: 5px;
  border-radius: 20px;
}

input[type=submit] {
  width: 200px;
  height: 40px;
  font-size: 24px;
  margin: 0 auto;
  border-radius: 20px;
}

input[type=submit]:hover {
  background-color: var(--btn-hover);
  border-radius: none;
}

/* Main Page Navigation */

.main-nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
}

.main-nav-h1 {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: var(--accent-teal);
  /* border-bottom: none; */
}

.main-nav-active {
  background-color: var(--accent-teal);
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.main-nav-h1:hover {
  color: var(--btn-hover);
}

/* Dashboard Table */

table {
  width: 90%;
  margin: auto;
  padding: 25px 0;
  background-color: var(--accent-teal);
  color: white;
  border-radius: 20px;
  text-align: center;
}

th {
  font-size: 18px;
}

td, th {
  font-size: 24px;
  padding: 20px 0;
  font-weight: bold;
}

.childName:hover, .opts-header > h2:hover {
  color: var(--btn-hover);
  cursor: pointer;
}

/* Child Dashboard */

.child-dashboard {
  background-color: var(--accent-teal);
  width: 95%;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  color: white;
}

.child-header {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
}

.child-header > h1 {
  padding-left: 15px;
}

.opts-header {
  display: flex;
}

.opts-header > h2 {
  width: 40%;
}

/* Opts Components */

.opt-container {
  display: flex;
}

.opts-col {
  width: 50%;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  width: 70%;
  margin: 5px auto;
}

.opt-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: var(--accent-teal);
  border-radius: 50px;
}

.opts-h3, .opts-p {
  margin: 0;
  padding: 5px;
}

.opt-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.opt-btn {
  font-size: 14px;
  margin: 5px;
  background-color: var(--accent-teal);
  color: white;
  font-weight: bold;
}

.far, .fas {
  /* height: 40px; */
  padding: 15px;
  color: var(--accent-teal);
}

.far:hover, .fas:hover  {
  color: gold;
  cursor: pointer;
}
